:root{
 --watch-screen-width: 100vw;
 --watch-screen-height: 100vh;
}
.cycle{
 border-radius: var(--watch-screen-width);
 border: solid black 1px;
 max-width: var(--watch-screen-width);
 max-height: var(--watch-screen-height);
 min-height: var(--watch-screen-height);
}
.cycle-top{
 margin-top: calc(var(--watch-screen-height)/7);
 margin-left: calc(var(--watch-screen-width)/7);
}
.cycle-middle{
 margin-top: calc(var(--watch-screen-height)*.5);
}
.cycle-width-middle{
    max-width: var(--watch-screen-width);
}
.cycle-bottom{
 margin-top: calc(var(--watch-screen-height)*.8);
 margin-left: calc(var(--watch-screen-width)/7);
}
.cycle-text-header{
    font-size: 8vh;
    font-family: Sans-serif;
}
.cycle-text-body{
    font-size: 3vh;
    font-family: sans-serif;
}
a{
    margin-left: 15vh;
}
body{
    margin-bottom: 50vh;
}
